<% if (@map.permission == 1)  || (@map.user_id == current_user.id) || ((@map.permission == 2) && (Friendship.already_friends?(User.find(@map.user_id), current_user)))%>
<form name="add" id="add" method="post" action="/maps/add">  
	<!--need this for auth -->
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" /> 
	<input type="hidden" name="map_user_id" value="<%= current_user.id %>" />
	<input type="hidden" name="map_id" value="<%= @map.id %>" /> 
	<input type="text" name="add" /> 
	<input type="submit", class="red awesome medium button", value="Add New Venue" />
</form>

<% end %>