
<div id="basicbg">
<div id="soft_filter_menu">
 
    <form name="softfiltermenu" id="softfilter" class="softfilter" method="post" action="/maps/search"> 
      <ul>
        <li>
	Number of Ratings
	<select name="softmenu1">
	<option value="numrate1">Negligible 1</option>
	<option value="numrate2">Trivial 2</option>
	<option value="numrate3">Relevant 3</option>
	<option value="numrate4">Important 4</option>
	<option value="numrate5">Crucial 5</option>
      </select>
      </li>
      <li>
	Average Ratings		
	<select name="softmenu2">
	<option value="avgrate1">Negligible 1</option>
	<option value="avgrate2">Trivial 2</option>
	<option value="avgrate3">Relevant 3</option>
	<option value="avgrate4">Important 4</option>
	<option value="avgrate5">Crucial 5</option>
	</select>
        </li>
        <li>
	Cheapness			
	<select name="softmenu3">
	<option value="cheap1">Negligible 1</option>
	<option value="cheap2">Trivial 2</option>
	<option value="cheap3">Relevant 3</option>
	<option value="cheap4">Important 4</option>
	<option value="cheap5">Crucial 5</option>
	</select>
        </li>
        <li>
        <input type="submit" value="Apply" />
        </li>
	</ul>
	</form>  
      </div> 
    </div>
   
