/* set an awesome color for the buttons */
button.awesome,
input.awesome,
a.button.awesome,
span.awesome,
label.awesome {
  background-color:#de6464; 
/*background-color: #111;*/
}
/* Touch the rest at your onw risk. */
button.awesome,
input.awesome,
a.button.awesome,
span.awesome ,
label.awesome {

font: inherit;
background-repeat: repeat-x;
color: #fff;
text-decoration: none;
position: relative;
cursor: pointer;
border: 0;
font-style: normal;
font-weight: bold;
line-height: 1;

padding: 5px 10px 6px;
font-size: 13px;

/* IE only stuff */
border-bottom: 1px solid transparent\9;

/* not all browser support these, but who cares? */
text-shadow: 0 -1px 1px rgba(0,0,0,0.25), -2px 0 1px rgba(0,0,0,0.25);
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);

/* one image for all states
see http://www.alistapart.com/articles/sprites */
background-image: url(awesome-overlay-sprite.png);
background-position: 0 0;

/* cross browser inline block hack
see http://blog.mozilla.com/webdev/2009/02/20/cross-browser-inline-block/ */
display: -moz-inline-stack;
display: inline-block;
vertical-align: middle;
*display: inline !important;
position: relative;

/* help IE to calm down a bit */
zoom: 1;

/*disable text selection (Firefox only)*/
-moz-user-select: none;
}
/* hide selection background color */
.awesome::selection {
background: transparent;
}

button.awesome:hover,
input.awesome:hover,
a.button.awesome:hover,
span.awesome:hover ,
label.awesome:hover {
background-position: 0 -50px;
color: #fff;
}
button.awesome:active,
input.awesome:active,
a.button.awesome:active,
span.awesome:active ,
label.awesome:active {
background-position: 0 100%;
-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.7);
/* unfortunately, Safari seems not to support inset yet */
-webkit-box-shadow: none;

/* IE only stuff */
border-bottom: 0\9;
border-top: 1px solid #666\9;
}

button.awesome.small, input.awesome.small, a.button.awesome.small, span.awesome.small, label.awesome.small { padding: 4px 7px 5px; font-size: 10px; }
button.awesome.small:active, input.awesome.small:active, a.button.awesome.small:active, span.awesome.small:active , label.awesome.small:active { padding: 5px 7px 4px; }
button.awesome.medium, input.awesome.medium, a.button.awesome.medium, span.awesome.medium , label.awesome.medium { /* default */ }
button.awesome.medium:active, input.awesome.medium:active, a.button.awesome.medium:active, span.awesome.medium:active , label.awesome.medium:active { padding: 6px 10px 5px; }
button.awesome.large, input.awesome.large, a.button.awesome.large, span.awesome.large, label.awesome.large  { padding: 8px 14px 9px; font-size: 14px; }
button.awesome.large:active, input.awesome.large:active, a.button.awesome.large:active, span.awesome.large:active , label.awesome.large:active { padding: 9px 14px 8px; }

/* Colors ———- */
.blue.awesome, .blue.button.awesome{
  background-color: #2daebf;
}
.red.awesome, .red.button.awesome{
  background-color: #e33100;
}
.magenta.awesome, .magenta.button.awesome{
  background-color: #a9014b;
}
.orange.awesome, .orange.button.awesome {
  background-color: #ff5c00;
}
.yellow.awesome, .yellow.button.awesome {
  background-color: #ffb515;
}
.green.awesome, .green.button.awesome {
  background-color:#009600; 
}
.peach.awesome, .peach.button.awesome {
  background-color:#f8f0d0; 
}
.beatmap.awesome, .beatmap.button.awesome {
  background-color:#de6464; 
}
.grey.awesome, .grey.button.awesome {
  background-color:#252525; 
}
