BODY {
  font-family: Arial, Helvetica, sans-serif;
  color : #000000;
  font-size: 0.8em;
}

.clear {
  clear:both;
}

img	{
border-style: none;
text-decoration: none;
} 

#top_bar{
  height:100px;
  width:980px;
  background-image:url(images/banner.jpg);
  background-repeat:repeat;
  margin-left:auto;
  margin-right:auto;  
}

#user_nav {
  height:20px;
  width:980px;
  margin-left:auto;
  margin-right:auto;  	
}

#site_nav {
  height:20px;
  width:980px;
  margin-left:350px;
  margin-right:auto; 
  margin-top:15px;
  clear:both;	
  float:left;
}

#ad_navbar_top {
  height:20px;
  width:874px;
  margin-left:10px;
  margin-top:10px;
  float:left;
}

#ad_navbar {
  height:20px;
  width:980px;
  margin-left:285px;
  margin-right:auto; 
  margin-top:15px;
  clear:both;	
  float:left;
}

#topinfoblock{
  background-image:url(images/topbg.png);
  background-repeat: repeat;
  height: 42px;
  width:auto;
  margin-left:auto;
  margin-right:auto;
}

form.search {    
  color: #de6464;   
  font-family: Arial, Verdana, Helvetica, sans-serif;  
  font-size: 12px;
  height:42px;
  }

#logo{
  background-image:url(images/logo.png);
  background-repeat: no-repeat;
  width: 96px;
  height: 41px;
  float:left;
}


/* Links
----------- */

a { font-family: verdana; font-size: 8pt; color: #2020C6; font-weight: none; text-decoration: none; text-transform: none; }
a:hover { font-family: verdana; font-size: 8pt; color: #840000; font-weight: none; text-decoration: underline; text-transform: none; }

a.nav { font-family: verdana; font-size: 10pt; color: #000000; font-weight: bold; text-decoration: none; text-transform: none; }
a.nav:hover { font-family: verdana; font-size: 10pt; color: #000000; font-weight: bold; text-decoration: underline; text-transform: none; }


a.actionbutton,
a.actionbutton:hover,
#footer a,
#footer a:hover{
	color:#000000;
}

#ad_navbar_top a,
#ad_navbar_top a:link{
  color:#ffffff;	
} 

#ad_navbar_top a:hover{
  color:#ff9535;	
} 

#searchbar{
  width:700px;
  height:100px;
  margin-top:0px;
  margin-left:100px;
  float:left;	
}

#search_menu {
margin-left:auto;
  height:42px;
}

#searchbar input {
    vertical-align:middle;
  margin-top: 8px;

  width:160px;
}
#searchbar label{
  vertical-align:middle;

}

#searchtext {
  margin-top:0px;
  float:left;
}

#searchbutton{
  margin-top:0px;
  float:left;	
}

#basicbg{
  background-image:url(images/basicbg.png);
  background-repeat: repeat;
  height:50px;
  margin-left:auto;
  margin-right:auto;
}

#maincontent{
  margin-left:auto;
  margin-right:auto;
  width: 980px;
  height: auto;
}

#main_right{
  width: 160px;	
  height: auto;
  float:left;
}

#main_top{
  width: 820px;
  height: auto;	
  float: left;
}

#maincontent_top_text{
  font-family: Arial, Helvetica, sans-serif;
  color : #ffffff;
  font-size: 2.0em;
  line-height: 1.0em;
  margin-left:0px;
  margin-top:100px;
}


#maincontent_text{
  font-family: Arial, Helvetica, sans-serif;
  color : #ffffff;
  font-size: 2.0em;
  line-height: 1.0em;
  margin-left:0px;
  margin-top:50px;
}

#main_bottom{
  width: 820px;
  height: 700px;
  margin-top: 40px;	
  float: left;
}

#main_bottom_info{
  width: 820px;
  height: 200px;
  margin-top: 20px;	
  float: left;
}

#main_bottom_info_left{	
  width: 510px;
  height: 200px;	
  float: left;
}

#main_bottom_info_right{
  width: 300px;
  height: 340px;	
  float: left;
}

.main_title{
  font-family: Arial, Helvetica, sans-serif;
  color : #000000;
  font-size: 2.0em;
  line-height: 1.0em;
}

.main_text{
  font-family: Arial, Helvetica, sans-serif;
  color : #000000;
  font-size: 1.1em;
  line-height: 1.0em;
}


#footer{
  clear:both;
  float:left;
  margin-top:15px;
  color : #000000;
  font-size: 0.9em;
  margin-left:auto;
  margin-right:auto;
}


div.hr {
	border-bottom: 1px dotted #000000;
	margin: 0;
	padding: 5px 0;
	width: 450 px;
}
