<h1>Listing favorite_maps</h1>

<table>
  <tr>
  </tr>

<% @favorite_maps.each do |favorite_map| %>
  <tr>
    <td><%= link_to 'Show', favorite_map %></td>
    <td><%= link_to 'Edit', edit_favorite_map_path(favorite_map) %></td>
    <td><%= link_to 'Destroy', favorite_map, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New favorite_map', new_favorite_map_path %>