		<label class="red awesome medium button"><font color="black"><%= link_to 'Post Deal', new_deal_path, :class => 'actionbutton'%></font></label>
		<br/><br/>
		<label class="red awesome medium button"><font color="black"><%= link_to 'Manage Deals', deals_path, :class => 'actionbutton' %></font></label>
		<br/><br/>
		<form name="post_deal" id="post_deal" class="post_deal" method="post" action="/deals/post_deal">  
			<!--need this for auth -->
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" /> 
		 <%= submit_tag("Refresh Deals (RSS)", :id => "post_deal", :title => "post_deal", :name => "post_deal", :class => "red awesome small button")%> 
		 </form>

