    <div id="footer">
        <div id="footerleft">
          Beatmap &copy; 2010
        </div>
        <div id="footerright">
          <a href="/">About</a> 
           &middot; <a href="/">Advertising</a>
           &middot; <a href="/">Developers</a>
           &middot; <a href="/">Careers</a> 
           &middot; <a href="/">Privacy</a> 
           &middot; <a href="/">Terms</a>
           &middot; <a href="/">Help</a>
        </div>
      </div>