<div id="user_nav">

<script type="text/javascript"><!--
google_ad_client = "ca-pub-2997897620024642";
/* Top Ad */
google_ad_slot = "3153370464";
google_ad_width = 728;
google_ad_height = 15;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
		
    <div style="float:right;">	    	
    <a href="/website/stashindex"><img src="/images/stash.png" width="20px;" height="20px;"></img></a> <%= link_to "Stash", "/website/stashindex", :class => 'nav' %> |
    <a href="/website/flipindex"><img src="/images/flip.png" width="20px;" height="20px;"></img></a> <%= link_to "Flip", "/website/flipindex", :class => 'nav' %>
    </div>
	
	<div style="float:right; margin-right:10px; margin-top:2px;">
    <a href="http://www.twitter.com/stashflip"><img src="/images/twitter.png"></img></a> 
    </div>
			    
</div>