    <div id="top_bar">
      <div id="topinfoblock">
        <a href="/"><div id="logo"></div><!--end logo--></a>


		<div id="site_nav">
			<label class="red awesome medium button"><font color="black">
			<%= link_to "Deals", root_path %> 
			</font></label>
			<label class="red awesome medium button"><font color="black">			
			<%= link_to "Archive", root_path %> 
			</font></label>			
			<label class="red awesome medium button"><font color="black">			
			<%= link_to "Search", root_path %> 
			</font></label>			
			<label class="red awesome medium button"><font color="black">			
			<%= link_to "About Us", root_path %>
			</font></label>						
		</div>


      </div> <!--end topinfoblock-->
    </div> <!--end topblue-->

    
