    <div id="top_bar">
      <div id="topinfoblock">
        <a href="/"><div id="logo"></div><!--end logo--></a>
        
        <div id="ad_navbar_top">
        	<b>
        	<a href="http://www.amazon.com/gp/product/B003JVKHEQ?ie=UTF8&tag=stashflip-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B003JVKHEQ">Call of Duty: Black Ops</a><img src="http://www.assoc-amazon.com/e/ir?t=stashflip-20&l=as2&o=1&a=B003JVKHEQ" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        	<a href="http://www.amazon.com/gp/product/B002BSA3EM?ie=UTF8&tag=stashflip-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B002BSA3EM">Wii Fit Plus</a><img src="http://www.assoc-amazon.com/e/ir?t=stashflip-20&l=as2&o=1&a=B002BSA3EM" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
			<a href="http://www.amazon.com/gp/product/B002BSA20M?ie=UTF8&tag=stashflip-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B002BSA20M">Halo Reach</a><img src="http://www.assoc-amazon.com/e/ir?t=stashflip-20&l=as2&o=1&a=B002BSA20M" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
			<a href="http://www.amazon.com/gp/product/B002BSA1C6?ie=UTF8&tag=stashflip-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B002BSA1C6">Gran Turismo 5</a><img src="http://www.assoc-amazon.com/e/ir?t=stashflip-20&l=as2&o=1&a=B002BSA1C6" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
			<a href="http://www.amazon.com/gp/product/B000ZKA0J6?ie=UTF8&tag=stashflip-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B000ZKA0J6">Starcraft II</a><img src="http://www.assoc-amazon.com/e/ir?t=stashflip-20&l=as2&o=1&a=B000ZKA0J6" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
			<a href="http://www.amazon.com/gp/product/B002TDIEEK?ie=UTF8&tag=stashflip-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B002TDIEEK">Super Street Fighter IV</a><img src="http://www.assoc-amazon.com/e/ir?t=stashflip-20&l=as2&o=1&a=B002TDIEEK" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
			<a href="http://www.amazon.com/gp/product/B002ZG981E?ie=UTF8&tag=stashflip-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B002ZG981E">Inception Blu-Ray</a><img src="http://www.assoc-amazon.com/e/ir?t=stashflip-20&l=as2&o=1&a=B002ZG981E" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
			</b>
        </div>


		<div id="ad_navbar">
			<label class="orange awesome large button"> 
				<a href="/" class="actionbutton">ALL</a>
			</label>

			<label class="orange awesome large button"> 
				<a href="/website/videogamesindex" class="actionbutton">VIDEO GAMES</a>
			</label>
						
			<label class="orange awesome large button"> 
				<a href="/website/laptopindex" class="actionbutton">LAPTOP</a>
			</label>
			
			<label class="orange awesome large button"> 
				<a href="/website/hdtvindex" class="actionbutton">HDTV / MONITORS</a>
			</label>						
						
		</div>


      </div> <!--end topinfoblock-->
    </div> <!--end topblue-->