    <div id="top_bar">
      <div id="topinfoblock">
        <a href="/"><div id="logo">
        </div></a> <!--end logo-->

      </div> <!--end topinfoblock-->
      <div id="under_topinfoblock">
      </div>
    </div> <!--end topblue-->

    
